.appLogo {
  width: 5%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.navList {
  display: flex;
  list-style: none;
  margin-top: 36px;
}

.navList > li {
  padding: 10px;
  font-size: x-large;
}

.resList {
  display: flex;
  flex-wrap: wrap;
}

.resCard {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 200px;
  word-wrap: break-word;
}

.resCard > img {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}

.search-container {
  padding: 10px;
}

.user-card {
  border: 1px solid black;
}
